{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": ["wesbos"],
    "globals": {
        "$": false,
        "chrome": false
    },
    "rules": {
        "no-extra-semi": "off",
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "never"],
        "object-curly-spacing": ["error", "always"],
        "space-in-parens": ["error", "never"],
        "no-trailing-spaces": "error",
        "curly": "error",
        "keyword-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", "never"],
        "space-infix-ops": "error",
        "no-multi-spaces": "error",
        "key-spacing": [
            "error",
            {
                "beforeColon": false,
                "afterColon": true,
                "mode": "strict"
            }
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "no-console": "off",
        "no-use-before-define": [
            "error",
            {
                "functions": false
            }
        ],
        "no-plusplus": "off",
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 120,
                "tabWidth": 4,
                "semi": false
            }
        ]
    }
}
